#orca{
    color: blue;
    float: right;  
    z-index: 1000000; 
}
body{
    background:linear-gradient(#2b1055, #7597);
    background-position: center;
    background-size: cover;
}
nav #orca button{
    text-decoration: none;
    color:goldenrod;
}
nav #orca a{
  text-decoration: none;
  color:goldenrod;
  padding: 6px 15px;
}
nav{
  padding: 10px;
  padding-bottom: 20px;
} 
nav #orca a:hover{
    text-decoration:underline;
    color:goldenrod;
}
nav a{
  z-index: 10000;
}
/* Dropdown Button */
.dropbtn{
  background-color: #04AA6D;
  padding: 16px;  font-size: 16px;
  border: none;
}  
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
} 
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41
}
#orca button{   
  background-color: #04AA6D;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none 
}